/* common shared styles */
body {
    font-family: 'Open Sans', sans-serif;
}
.text-primary{
    color: #FD6E0A;
}
.btn-primary{
    background-color: #FD6E0A;
    color: #fff;
    border: none;
    padding: 15px 35px;
    border-radius: 5px;
    cursor: pointer;
    font-family: Open Sans;
    font-size: 20px;
}

/* nav related style */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 200px;
}
.nav-title{
    color: #181818;
    font-family: Open Sans;
    font-size: 45px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
nav > ul{
    display: flex;
    align-items: center;
}
nav li{
    list-style: none;
    margin-right: 60px;
}
nav a{
    text-decoration: none;
    color: #474747;
}

/* header styles  */
.header{
    background: #FFF8F3;

}
.banner{
    padding: 30px 30px 30px 150px;
    display: flex;
    align-items: center;
}
.banner .profile-picture{
    width: 584px;
    height: 676px;
    flex-shrink: 0;
}
.banner-content{
    
}